The value of the cardholder UUID SHALL be the 16 byte binary representation of a valid UUID, as specified in [RFC 4122]

### All Fields Are Required
**Organization Name (N/A, if individual)**: CertiPath Inc.

**Organization Type (see below for codes)**: 2 - Industry
 
**Reference (Include section/paragraph or pdf line number)**: 4.2.1 Line 1761-1762
 
**Comment (Include rationale for comment)**: Sentence beginning "The value of the cardholder UUID. . ." needs revision to ensure accuracy and clear understanding.  At a minimum, there needs to be an article (a, the) before "valid" and replace 'a' in front of "16 byte" with 'the' as there is only one correct encoding of a UUID.
 
**Suggested Change**: Consider revising this sentence:  "The value of the cardholder UUID SHALL be the 16 byte binary representation of a valid UUID, as specified in [RFC 4122]".
 
---
 
Organization Type: 1 = Federal, 2 = Industry, 3 = Academia, 4 = Self, 5 = Other


Noted: current revision includes the recommend text.

suggest to accept in principal - Suggest to also point to SP 800-73 since it is further defined there such as "It shall be version 1, 4 or 5 as specified in RFC 4122, Section 4.1.3.



The proposed change here is simply to change"a 16 byte binary representation" to "*the* 16 byte binary representation."  Accept as an editorial comment.